@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(129, 36, 210) 0%,
    rgba(24, 22, 39, 1) 90%
  );
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
