.rewards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #6E34A7;
}

.reward-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reward-card {
    background-color: #1E212D;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.smile-cost {
    position: absolute;
    top: 18px;
    right: 18px;
    background-color: #fdd835;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.discount-badge {
    position: absolute;
    top: 18px;
    left: 18px;
    background-color: #d32f2f;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

.reward-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.reward-title {
    font-size: 18px;
    margin: 10px 0 5px;
}

.reward-description {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

.reward-validity {
    font-size: 12px;
    color: #555;
}

.reward-location {
    font-size: 12px;
    color: #555;
    margin: 5px 0;
}

.reward-cost {
    font-size: 14px;
    color: #d32f2f;
    font-weight: bold;
    margin: 10px 0;
}

.activate-button {
    background-color: #d32f2f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.activate-button:hover {
    background-color: #c62828;
}
